/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */

body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}

header{
    height: 30px;
    text-align: end;
    padding: 3px;
}

main{
    height: calc(100vh - 150px);
    overflow-y: auto;
}

footer{
    height: 100px;
}

/* Utils */

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.brd{
    border: 1px solid white;
}

header span{
    font-size: 10px;
    display: inline-block;
    padding: 3px 7px;
    background-color: rgb(74,74,74);
    border-radius: 5px;
}
